@import 'compass/css3/border-radius';
@import "base";

.button {
    border: 0;
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 1.25em;
    margin: 0 auto;
    padding: .53em 1em;
    text-transform: uppercase;
    @include border-radius(1.2em);
}

.button-red {
    background: $ticket-item-bg;
    color: $white;
}
